.image-display {
    max-height: calc(100% - 101px);
}

.image-display, .image-display div {
    width: 100%;
}

.image-display h3 {
    text-align: center
}

.image-display img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image-display button {
    min-width: 100px;
}

.image-display-params label {
    display: block;
}

.image-display .image-display-content {
    height: 100%;
}

.image-display .image-header {
    position: relative;
    margin-bottom: 20px;
}

.image-display .field-name {
    width: 100%;
    text-align: center;
}

.image-display .back-btn {
    float: left;
}

.image-display .forward-btn {
    float: right;
}
